@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
  font-family: "Press Start 2P";
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d2d2d2;
  box-shadow: inset 0 0 10px #c9c9c9;
  animation: gradientAnimation 10s linear infinite ease-in-out;
  background-size: cover;
  position: relative; /* Add this line to make the silver layer relative to the body */
}

.container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 33%;
  height: auto;
  margin-bottom: 20px;
}

.github-link {
  font-size: 18px;
  text-decoration: none;
  width: 500px;
  height: auto;
}

.link-text-title {
  color: black;
  text-decoration: none;
  margin-top: 15px;
  font-size: 16px;
}

.link-text {
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-size: 12px;
}

.link-text:hover {
  color: white;
  cursor: pointer;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 64px;
  height: 64px;
}

.footer-logo:hover {
  filter: invert(1);
  animation: horizontal-shaking 0.2s infinite; /* Adjust duration and other properties as needed */
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* popup */
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#mirrorArticlePopup {
  background-color: rgba(42, 42, 42, 0.392);
}

#mirrorArticlePopup .popup-content {
  width: 800px;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mirrorArticlePopup iframe {
  position: absolute;

  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: grey;
  border-width: 30px;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  .text-container h1 {
    font-size: 32px; /* Adjust this value to what looks best on mobile */
  }
}

.description {
  text-align:justify;
  font-family: 'Barlow', sans-serif;
  max-width:600px;
}

@media screen and (max-width: 600px) {
  .description {
    max-width: 315px;
  }
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.text-container {
  margin-top:0px;
  margin-bottom: 0px; 
}