html, body {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainContainer {
    width: 80vw;
    height: 80vh;
    flex-shrink: 0;
    font-size: 1.6rem;
    box-sizing: border-box;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 10vh;
    left: 10vw;
}

.botDetail, .botGrid, .botInfo, .botArmy {
    flex: 1 1 auto;
    box-sizing: border-box;
    border: 1px solid #000;
}

.botDetail {
    background-color: blue;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.botDetail img {
    max-width: 50%;
    height: auto;
}

.botGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  /* 6 columns */
    grid-template-rows: repeat(4, 1fr);    /* 4 rows */
    grid-gap: 10px;
    align-items: start;
}

.gridItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

#selectedBotImg {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
}

.botInfo {
    background: rgba(217, 217, 217, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.botArmy {
    background-color: rgb(217, 217, 124);
}

.deployButton {
    width: 200px;
    height: 182px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.98);
    text-align: center;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid rgba(0, 0, 0, 0.98);
    background: rgba(255, 214, 0, 0.20);
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
