

body {
    background-color:rgba(155, 0, 226, 0.075);
    
}


img {
    max-width: 100%;
    display: block;
    height: auto;
}



/* Grid styling */
.botGrid {
    display: grid;
    gap: 20px; /* space between grid items */
    padding: 20px;
}

#botGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
    min-width:500px;
}



/* Grid item styling */
.gridItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.gridItem::before {
    content: "";
    display: block;
    padding-top: 100%; /* establishes a 1:1 aspect ratio */
}

.gridItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainContainer {
    display: flex;
    justify-content: center; /* Horizontally aligns the children in the center */
    align-items: center;     /* Vertically aligns the children in the center */
    height: 100vh;           /* Takes the full viewport height */
    gap: 20px;  
    align-items: flex-start; /* Add this line */
    /* Adds space between the flex children */
}

.botDetail {
    width: 250px;            /* An example width, adjust as needed */
    border: 1px solid #ddd;  /* Optional: Adds a border for visibility */
    padding: 10px;
}

.botGrid {
    flex: 1;                 /* Allows the grid to take up any remaining space */
    border: 1px solid #ddd;  /* Optional: Adds a border for visibility */
    padding: 10px;
}

.botArmy {
    width: 250px;            /* An example width, adjust as needed */
    border: 1px solid #ddd;  /* Optional: Adds a border for visibility */
    padding: 10px;
}

.deploy {
    background-color:rgba(235, 235, 235, 0.267);
    border: 1px solid #ddd;  /* Optional: Adds a border for visibility */
    display:flex;

}



@media (min-width: 768px) {
    #botGridContainer {
        grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
        min-width: 500px;
    }

    .mainContainer {
        flex-direction: row;
    }

    .botDetail, .botGrid, .botArmy {
        width: auto;
    }

    .botDetail {
        width: 250px;
    }

    .botArmy {
        width: 300px;
    }
}


/*Buttons*/
.deployButton {
    border-style:solid;
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.selectedBots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
    gap: 12px;
}
.selectedBotThumbnail {
    max-width: 42px;
    max-height: 42px;
}





