

@import url('https://fonts.googleapis.com/css?family=Rubik');


body
{
    font-family:'rubik'!important;
    padding:12.5px;
    background-color:black;
    font-size:16px;
}

button {
    background-color:#003bdd69;
    color:#ffffff;
    font-size:12px;
}


.rightMenu {
    background-color:rgb(0, 0, 0)
    position:fixed;

}

.contentBoxA {
    border-style:solid;
    padding-bottom:20px;
    border-color:rgba(0, 102, 255, 0.344);
    color:white !important;
    background-color:black !important;
}

pre
{
   
border-style:solid;
padding:10px;
border-color: #4073ff69;    
background-color: black !important;
}

.column_column-2{
    position:fixed;
    background-color:black;
}

.superFixedMenu {
    background-color:rgb(0, 0, 0);
    border-style:solid;
    border-width:1px;
    border-color:aquamarine;
    padding:30px;
    position:relative;
    margin:10px;
}


.superFixedBackpack {
    height:300px;
    width:90%;
    background-color:rgb(0, 0, 0);
    border-style: solid;
    border-width:1px;
    border-color:aqua;
    display:block;
    color:rgba(255, 255, 255, 100);
    padding:30px;
    max-width:200px;
    margin:10px;
}

.superFixedHotLinks {
    height:100%;
    min-width:200px!important;
    background-color:rgb(0, 0, 0);
    border-style: solid;
    border-width:1px;
    border-color:rgba(0, 255, 255, 0.33);
    display:block;
    color:rgba(255, 255, 255, 100);
    padding:10px;
    margin:10px;
    overflow:scroll;
    text-align:center;
}

/*TABLE HOTLINKS */
.tableHotLinks {
    color:white;
    overflow: scroll;
    height:100%;
    width:100%;
    background-color:rgba(0, 136, 255, 0.236);
    border-style:solid;
    border-color:white;
    border-size:.5px;

}

td {
    border-style:solid;
    border-color:rgba(4, 255, 230, 0.7);
    border-size:.25px;
    text-align:center;
}

td:hover {
    border-style:solid;
    border-color:white;
    border-size:1px;
    background-color:black;
}

.superSpacer {
    height:30px;
    width:100%;
    background-color:rgba(245, 245, 220, 0);
    display:block;
    color:rgb(0, 0, 0);
}

.divUserWrapper {
    background-color:rgba(216, 191, 216, 0);
    
}

.divUserInnerWrapper {
    background-color:rgba(0, 0, 0, 0)!important;
    border-style: solid;
    border-width:1px;
    border-color:aqua;
    color:white;
}

.divUserWrapper 
{
    background-color:black!important;
    color:white;
}

/*h1 classes */

.h1HotLinks {
    color:rgb(255, 255, 255);
}

.content-right {
    position:fixed;
    overflow:scroll;
    height:100%!important;
}


/*Button Tags */
.buttonTag_tutorial {
    background-color:rgb(0, 94, 117);
    color:white;
    border-style:solid;
    border-size:.5px;
    border-color:rgb(0, 154, 192);
}

.buttonTag_tutorial:hover {
    background-color:rgb(0, 162, 203);
    color:white;
    border-style:solid;
    border-size:.5px;
    border-color:rgb(0, 187, 234);
}
