/*compo-t17-a css*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');


:root{
    --main :#0a192f;
    --mainlight: #172a46;
    --nav :#09192f;
    --white :#ccd6f6;
    --cyan :#82ff3f;
    --love :#ffc53f;
    --apeGreen :#C2FF5A;
    --body-font: 'Barlow Condensed', sans-serif;
    }


* {
    margin: 0;
    padding: 0;

}

html {
    max-width:100%;
    overflow-y: auto;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: 'Barlow Condensed', sans-serif;

}

a {
    color:white;
    text-decoration:none;
}

p {
    font-family:var(--body-font);
    font-size:2.5vw;
    text-align:center;
    color:white;
    padding-left:20px;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:6.5rem;
    text-align:center;
    color:white;
    margin:0px;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 5vw;
    text-align:center;
    margin-bottom:30px;
    line-height: .85em;
    color:white;
    text-align:center;

}

h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:4.5rem;
    text-align:center;
    margin-bottom:30px;
    line-height: .85em;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
}

nav {
    max-width:99%;
}






    /*FIX THE PLUGIN FOR MOBILE */

   /* .containerPlugin {  display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "div1 div2 div3"
          "div4 div5 div6"
          "div7 div8 div9"
          "div10 div11 div12";
      }/*

      



/*Footer Business */

footer {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:40px;
}

.backFooter {
    width:100%;
    height:auto;
    position:absolute;
    z-index: (0);
    left:0;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: black;
    mix-blend-mode: lighten;
}

/*canvas {
    position: absolute;
    z-index: -10;
    opacity: 0.5;

}*/
/*
.aboveCanvas {
    position:absolute;
    z-index: 10000;
}*/

.footerContainer {
    width:50%;
}

.footerLogo-wrap {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*MENUS */

.verticalMenu {
    display:block;
    margin:10px;
    
}

/*The Story Business */
.image-mosaic {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    /*NEW AG  EXPERIMENT */
    grid-template-columns: 50%!important; */
  }

 /* .bgLight {
      background-color:white;
      border-color:red!important;
  }*/
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ebebebd0;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;

    /*HOVER ADDITIONS TO CARD */
    transition: transform 1s;
    }

    card:hover{
            transform: scale(2);
    }




  .card-full2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
  
  
  
  .glow {
      border-style:solid;
      border-width: 3px;
      /*border-color: rgb(203, 255, 221);
      border-radius: 25;*/
      transition: transform .53s ease;
  }

  .glow:hover {
    color: var(--main);
    background-color: var(--love)!important;
   box-shadow: var(--love) 0px 0px 50px;
   
    transform:scale(1.0153);

  }

  .storyWrap {
    /*max-width:1900px;*/
    width:100%;
    height:auto;
    justify-content: center;
    
  }

  section {
    margin:20px;
    background-color:transparent;
  }

  /* SPACER BUSINESS */
  .spacer {
    width:100%;
    height:40vh;
  }

  .spacer-small {
    width:100%;
    height: 15vh;
  }

  .spacer-smaller {
    width:100%;
    height: 6.5vh;
  }

  .spacer-scene1 {
    width:100%;
    height:40vh;
    background-image:url("apeIntroSplash.png");
  }

.spacer-scene1a {
    width:100%;
    height:40vh;
    background-image:url("spaceStuff.png");
    background-position: top;
    background-size:cover;
 
    background-position-y:50px;
    background-attachment: fixed;
}

.spacerParent {
    position: relative;
    width: 100vw;
    height: 40vh;
    overflow-x: hidden;
  }

  .spacer-scene2 {
    width: inherit;
    height: inherit;
    background:url("unhinge-2.png") repeat-x;
    background-repeat: repeat;
    background-size: 20%;
   /* background-position-y: 50px; */
    background-attachment: fixed;  
    animation: primary 30s linear infinite;
    
  }

  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }

}


  /*CRAZY SILL */

  /*.card:hover {
    border-color:red!important!;
  }*/

  /*TECH STACK IMPORT
  as of 1.24.23 */

  /*The Tech Stack */

.techStack_MainWrapper {
    display:flex;
    align-items:top;
    justify-content:center;
    /*background-image:url(spacePat.png);*/
    position:relative;
    z-index:5;
    padding:0px;
    /*max-height:250vh; */
    /*min-height:200vh;*/
}

.techStackContainer {
    max-width:75%;
    
    padding-left:50px;
    padding-right:50px;
    /*border-style:solid;*/
    /*border-width:thin;*/

    /*border-color:white;*/
    position:relative;
    z-index: 10;
    background-color:black;
    color:white;
}

.techStack-title {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    color:rgb(244, 244, 244);
    text-align:center;
    line-height:1em;
    border-style:thin;
    /*border-color:rgba(255, 255, 255, 0.142);*/
    margin:40px;
    line-height:.85em;
    padding:10px;
    transition: all 3.33s;
}

.techStack-title:hover {
    transform: scale(1.15);
}

/*Install Ape */
/*Install Ape Screen*/

.section-installApe {

    width:100%;
    height:100vh;
    display:flex;
    text-align:center;
    justify-content: center;
    align-items:center;
}

.install-ape-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:4rem;
    line-height: 8rem;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    border-style:solid;
    border-width:thin;
    border-color:rgba(255, 255, 255, 0);
    padding:10px;
    font-weight:600;
  
    cursor: pointer;
    transition: transform .33s;

}

.install-ape-text:hover {
    background-color:rgba(255, 80, 80, 0);
    border-color:#C2FF5A;
        transform:scale(1.55);
}


.wrapper-installape {
    display:block;
    padding-top:10vh;

}


/*CODE WRAPS ASCI*/

.techPlotGraph {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:rgba(255, 0, 0, 0);
    mix-blend-mode: lighten;
    transition: transform ease  3s;
}

.techPlotGraph:hover {
    transform: scale(1.05);
}

.codeWrap {
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content: center;
}

/* ASCI CODE */

.asci-container {
    width:620px;
    height:auto;
}

.asci-container-xl {
    width: 960px;
    height:auto;
}

/*SHUT OFF MADE BY ASCI */
.powered a {
    display:none;
}




/*AG IMPORT FROM PREVIOUS AG WORK - MAGIC OF CODE EH?*/

/*IMPORT FROM INDEX_build2.css */

.topNav {
    width:100%;
    padding:0px;
    position:fixed;
    z-index: 400;
    height:55px;
    background-color:rgba(255, 89, 89, 0);
    display:flex;
    flex-direction: right;
    justify-content:space-between;
    /*mix-blend-mode: difference;*/
        }

 .topNav:hover {
          
            background-color:rgba(255, 255, 255, 0.023);
            
                }

.menuGroup {
    position:relative;
    background-color:rgba(255, 192, 203, 0);
    right:15;
    align-items: center;
    height:50.2px;
    display:flex;
}



.menuLogo {
    transition:transform .333s;
}

.menuLogo:hover{
    transform:scale(1.2);
}

.iconWrap {
    background-color:rgba(128, 0, 128, 0);
    margin-right:3.5px;
}



.menuButton {
    font-size:1rem;
    font-weight:600;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    border-style:solid;
    border-width:thin;
    border-color:transparent;
    position:relative;
    top:0;
    margin:3.5;
    color:rgb(255, 255, 255);
    padding:15px;
    border-radius:.12vw;
    
    
}

.menuButton:hover {
    font-size:16px;
    background-color:var(--apeGreen)!important;
    color:black;
    border-style:solid;
   
    cursor: pointer;
}

.graphic-logo {
    width:52px;
    height:auto;
    border-style:solid;
    border-color:transparent;
    border-width:thin;
}

.graphic-logo:hover {
    cursor: pointer!important;
    border-color:rgba(255, 255, 255, 0);
}

/*HEADER WORK */
.full-header {
    width:100%;
   /* height:100vh; */
    text-align:center;
    display:flex;
    height:100vh!important;

  
    
}


.headerCenter {
    width:100%;
    max-height:100%;
    background-image:url("apeIntroSplash.png");
    background-repeat:no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    
    position:relative;
    
}

.header-title {
    text-transform :uppercase;
    background-color:rgb(0, 0, 0);
    z-index:30;
    font-size: clamp(4rem, 10vw + 0.5rem ,9rem);
    padding-left:20px;
    padding-right:20px;
    line-height:clamp(4rem, 10vw + 0.5rem ,9rem);;
    letter-spacing: -0.02em;
    margin-bottom:0px;

}

.header-title-a {
    text-transform :uppercase;
    background-color:rgb(0, 0, 0);
    z-index:30;
    font-size: clamp(4rem, 10vw + 0.5rem ,9rem);
    padding-left:20px;
    padding-right:20px;
    line-height:clamp(4rem, 10vw + 0.5rem ,9rem);;
    letter-spacing: -0.02em;
    margin-bottom:0px;
    color:chartreuse;

}

.header-sub {
    background-color:transparent;
    font-weight:500;
    font-size:4.25vw;
    line-height: 90%;
    /*font-size: clamp(2.2rem, 1.25vw + 0.5rem ,3rem);*/
}

.headerLogo {
    width:300px;
    height:auto;
    background-color:transparent;
    transition: transform 3s;
}



.headerLogo:hover {
    transform: scale(1.2);
}

.headerLogo-still {
    width:300px;
    height:auto;
    background-color:transparent;
    transition: transform 9s;
}

.headerLogo-still:hover {
    transform: scale(.75);
}

/*HEADE SPLASH BUTTONS*/

.splashButton {
    width:250px;
    height:75px;
    margin-left: 5px;
    margin-right:5px;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    font-size: 2rem;
    font-weight:600;
    /*letter-spacing: -0.01em;*/
    padding:7.5px;
    background-color:black;
    border-style:solid;
    border-color:rgb(255, 255, 255);
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform .53s;

    /*background-color: var(--mainlight);*/
    /*border: 1px solid var(--cyan);*/
    /*color:var(--cyan);*/
    box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;


    /*Ease in animation tests*/
    transition-timing-function: linear;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.splashButton:hover {
    color: var(--main);
    background-color: var(--cyan);
    box-shadow: var(--cyan) 0px 0px 50px;
    cursor: pointer;
    border-color:transparent;
    transform:scale(1.053);
}


/*AG SCENE TITLE DIV WORK */
.scene {
    width:100%;
    height:100%;
    background-color:rgb(0, 0, 0);
    text-align:center;
    padding:20px;
  
    display:flex;
    align-items:center;
    justify-content: center;
}

.scene1-end-wrap {
    width:100%;
    display:flex;
    align-items:center;
    justify-items: center;
    background-image: url('s1-t6.png')
}

/* SCENE 2 SCENES */

.scene-2-1 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */

    display:flex;
    align-items:center;
    justify-content: center;
    transition:transform 6s;
}

.scene-2-1:hover {
    transform:scale(.55);
}

.scene-2-1suppose {
    width:100%;
    height:90%;
    background-color:#52525200;
    text-align:top;
    padding:0px;
    background-size:100%;
    background-repeat: no-repeat;
  /*
    background-position:bottom;
    background-image:url("student2.png");
   /* mix-blend-mode: lighten; */
    line-height:0px;
    margin:0;
    display:flex;
    align-items:center;
    justify-content: center;
    transition:transform 3s;
}

.scene-2-1suppose:hover {
    transform:scale(.75);
}

.scene-2-1-a {
    width:100%;
    height:100%;
    background-color:#d6d6d600;

    
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */

    display:flex;
    align-items:center;
    justify-content: center;
    transition:transform 6s;
}

.scene-2-1-a:hover {
    transform:scale(.75);
}






/* END OF SCENE 2 SCENES */


.scene-1 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */

    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 6s;
 
}


.scene-1:hover {
    transform: scale(1.05);   

   /* background-color:#fdfdfd; */
}

.scene-1-1 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 6s;
}

.scene-1-1:hover {
    background-color:#000000;
    transform: scale(.85); 
}

.scene-1-2 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 6s;
    
}

.scene-1-2:hover {
    /*background-color:#fdfdfd;*/
    transform: scale(.83);
}

.scene-1-3 {
    display:flex;
    background-color:#d6d6d600;
    background-image: url("s3-credit.png");
    background-size:contain;
    width:100%;
    height:100%;
    transition: transform 3s;
    background-repeat: no-repeat;
    background-size:contain;
}

.s-3-tinker {
    display:block;
    background-repeat: no-repeat;
    background-color:#d6d6d600;
    background-image:url("tinker.png");
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    color:white;
    transition: transform 6s;
}

.scene-1-3:hover {
    transform: scale(.83);
}



.scene-1-5 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 6s;
}
.scene-1-5:hover {
    transform: scale(.85);
}




.sceneGraphic-wrap-tall {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.sceneGraphic-topAlign {
    width:100%;
    display:flex;
    align-items: top;
    justify-content: top;
    position:absolute;
    width:50%;
    top:20;
    left:0;
}



.scene-1-graphicBlock-1 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-image:url("space1.png");
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 6s;
}

.scene-1-graphicBlock-1:hover{
    transform: scale(.83);
}

.scene-1-spaceCatGraphic {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-image:url("s1_spaceCat.png");
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 3.6s;
}

.scene-1-spaceCatGraphic:hover {
    transform: scale(.83);
}

.scene-1-graphicBlock-2 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-image:url("apeRocket.png");
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
    transition: transform 3.6s;
}

.scene-1-graphicBlock-2:hover{
    transform: scale(.83);
}

.scene-1-6 {
    transition: transform 6s;
}
.scene-1-6:hover {
    transform: scale(.83);
}


.scene-2-graphicBlock-1 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    background-size:contain;
    background-position: top;
    background-attachment: fixed;
    /* background-repeat: none;*/
    background-image:url("s3-credit.png");
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
}



.scene-2-graphicBlock-2 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    background-size:50%;
    background-position: center;
    /* background-repeat: none;*/
    background-image:url("school-cell-a-3.png");
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
}

.scene-1-5:hover {
    /*background-color:#fdfdfd;*/
}

.scene-1-6 {
    width:100%;
    height:100%;
    background-color:#d6d6d600;
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
}

.scene-1-6:hover {
    /*background-color:#fdfdfd;*/
}

/* SCENE 3  SCENES */

.scene-3-3-unhinge {
    /*background-image: url("unhinge-2.png");
    background-size:contain;*/
}



/*END OF SCENE 3 - Scenes */

.sceneText {
    
}

.sceneText-5
{
    font-size: clamp(2rem, 5vw + 0.5rem ,9rem);
    text-transform:uppercase;
    color:rgb(0, 0, 0);
    font-weight:800;
    line-height:90px;
    text-align:center;
  

}

.sceneText-5-a
{
    font-size: clamp(2rem, 5vw + 0.5rem ,9rem);
    text-transform:uppercase;
    color:rgb(0, 0, 0);
    font-weight:800;
    line-height:70px;
    text-align:left;
    padding-left:5px;

}

.sceneText-spaceStuff {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    text-transform:uppercase;
    color:black;
    font-weight:800;
    text-align:center!important;
}

.sceneText-meetApe {
    font-size: 12.5vw;
    text-transform:uppercase;
    color:white;
    font-weight:800;
    padding-top:300px;

}

.sceneText-meetApe-large {
    font-size: clamp(2rem, 20vw + 0.5rem ,19rem);
    text-transform:uppercase;
    color:white;
    font-weight:800;

}

.sceneText-meetApe-large-green {
    font-size: clamp(2rem, 20vw + 0.5rem ,19rem);
    text-transform:uppercase;
    color:greenyellow;
    font-weight:800;

}

.sceneText-spaceFair {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    line-height:120px;
    text-transform:uppercase;
    color:white;
    font-weight:800;

}

/* P CLASSES */

.subHeaderLittle {
    font-size: 3vw;
    line-height:50px;
    text-transform:uppercase;
    color:white;
    font-weight:800;
    letter-spacing: -.01em;
    padding-bottom:20px;

}


.sceneCopy {
display:flex;
align-items:center;
justify-content: center;

}

.sceneCopy-a {
    display:flex;
    align-items:center;
    justify-content: center;
    padding:20px;
    padding-top:300px;
    mix-blend-mode: multiply;
    }

.sceneGraphic {
    width:33%;
    height:auto;
    text-align:center;
}

.sceneGraphic-full {
    width:100%;
    height:200px;
}

.graphic-tinker-wrench {
    width:50%;
    height:auto;
    

}

.graphic-tinker-and {
    width:33%
    height:auto;
   

}


.sceneGraphic-prof {
    width:43%;
    height:auto;
    text-align:center;
    mix-blend-mode: multiply;
}

.sceneGraphic-tinker {
    width:33%;
    height:auto;
    text-align:center;
}

.sceneGraphic75 {
    width:65%;
    height:auto;

    text-align:center;
}

.graphic-s1Sata {
    width:100%;
    height:auto;
    background-color: rgba(255, 0, 0, 0);
    background-attachment: fixed;
}

.sceneGraphic-wrap {
    width:120%;
    height:auto;
    text-align:center;
}

/*SCENE 3 GRAPHICS */

/*UNHINGED GRAPHIC BLOCK*/
.scene-3-graphicBlock-1 {
    position: relative;
    width:100%;
    height:99%;
    background-color:#d6d6d600;
    background-size:33%;
    background-position: center;
    background-repeat: none;
    
  
    background-image:url("tinker.png");
    text-align:center;
    padding:20px;
   /* mix-blend-mode: lighten; */
    display:flex;
    align-items:center;
    justify-content: center;
}

.sceneText {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(2rem, 2.1vw + 0.5rem ,3.2rem);
    line-height:40px;
    font-weight:700;
    color:rgb(255, 255, 255);
    text-align:center;
}

/*SCENE TEXT MEDIUM */
.sceneText-M {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(1rem, 3.5vw + 3.5rem ,4.5rem);
    line-height:55px;
    font-weight:700;
    color:rgb(35, 35, 35);
    padding-left:20px;
    mix-blend-mode: multiply;
}

/*SCENE TEXT MEDIUM */
.sceneText-S {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(1rem, 2.75vw + 3.5rem ,2.5rem);
    line-height:35px;
    font-weight:700;
    color:rgb(35, 35, 35);
    padding-left:20px;
    mix-blend-mode: multiply;
    text-align:center!important;
}

/*SCENE TEXT MEDIUM */
.sceneText-Suppose {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: 8vw;
    line-height:35px;
    font-weight:700;
    color:rgb(0, 0, 0);
    padding-left:20px;
    mix-blend-mode: multiply;
    text-align:center!important;
}

.sceneText-Sleft {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(1rem, 2.75vw + 2.5rem ,2.5rem);
    line-height:35px;
    font-weight:700;
    color:rgb(35, 35, 35);
    padding-left:0px;
    mix-blend-mode: multiply;
    text-align:left!important;
}

.sceneText-SRIGHT {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: 2vw;
    line-height:35px;
    font-weight:700;
    color:rgb(0, 0, 0);
    padding-left:0px;
    mix-blend-mode: multiply;
    text-align:right!important;
    float: right!important ;
}

.sceneText-Sa {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(1rem, 4.75vw + 3.5rem ,5.5rem);
    line-height:35px;
    font-weight:700;
    color:rgb(35, 35, 35);
    padding-left:20px;
    mix-blend-mode: multiply;
    text-align:center!important;
}

.sceneText-Sb {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(1rem, 7.75vw + 5.5rem ,5.5rem);

    line-height:70px;
    font-weight:700;
    color:rgb(35, 35, 35);
    padding-left:20px;
    mix-blend-mode: multiply;
    text-align:center!important;
}

.sceneText-light {
    text-transform:uppercase;
   /* font-size:54px; */
    font-size: clamp(2rem, 2vw + 0.5rem ,3rem);
    line-height:40px;
    font-weight:800;
    color:rgb(255, 255, 255);
}

/*All about Floating Stars*/

.fullStar {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background-color:red;
}


/*full width sugar*/

.fullwidth-image {
    width:100%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*spacer test */



/*stars override test */

#stars {
    box-shadow: black;
}

/*Partnership Section*/

.section-partners {
    
    width:100%;
}

.partner-wrap {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width:100%;
}

.partner-title-wrap {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
}

/*END OF PARTERNSHIP SECTION */


/*GRAPHICS */


.apeRocketGraphic {
    width:300px;
    height:auto;
}

.plotgraph {
    width:720px;
    height:auto;
    filter: invert(1);
}

.graphic50 {
    width:50%;
    height:auto;
}

.graphic75 {
    width:75%;
    height:auto;
}


/* CONTAINERS */

.middleContainer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* ICONS SOCIAL SUGAR */

.iconsSocial {
    filter:invert(1);
    width:36px;
    height:36px;
    padding-top:0px;
    transition: transform .333s;
   
}

.iconsSocial:hover {

    cursor: pointer;
    transform:scale(1.2);

}

/*experiment */

.box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  
  .box:hover::after {
      opacity: 1;
  }
  
.hoverGrow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.hoverGrow::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hoverGrow:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.hoverGrow::after {
    opacity:1;
}

.hoverBasic-Scale {
    transition: transform 1s;
    &:hover {
        transform: scale(2);
    }
}

.white {
    color:white;
    text-transform: lowercase;
}

.scene2graphic-slide {
    background-image:url('scene2graphic-slide');
}



/* FONT FUN */
.split h2 span {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    line-height:100px;
    text-transform:uppercase;
    color:rgb(255, 255, 255);
    font-weight:800;
    display: inline-block;
    white-space: break-spaces;
    transition: font-weight 0.3s ease;
    position: relative;
    margin:0;
    padding:0;
  }
  
  .split h2 span::before,
  .split h2 span::after {
    content: attr(data-char);
    position: absolute;
    left: 0;
    
    color: transparent;
  }
  
  .split h2 span::after {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    line-height:100px;
    text-transform:uppercase;
    color:rgb(255, 255, 255);
    font-weight:800;
    z-index: 2;
    filter: none;
    color: transparent;
    background: linear-gradient(#ffffff, #ffffff) 0% 0% / 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  


/* FONT FUN */
/*Make UNHINGED INVERTED to black */
.split {
    filter: invert(1);
}

/*WINDOWS */

.window-transition3 {
    width:100%;
    height:400px;
    background-image:url("unhinge-2.png");
    background-size:cover;
    background-attachment: fixed;
    background-size:400px;
}


/*UNHINGED */

.split {
    display:flex;
    align-items:center;
    justify-content: top;
    
   
    
}

.s3-unhinged-wrap {
    background-color: #d6d6d600;
    padding-bottom:30px;
}

/*PLUGIN SECTION */

.fullWidthWrap {
    width:100%;
    height:auto;
    display:flex;
    align-items:top;
    justify-content: center;
    position:relative;
}

.mobileFullWidthWrap {
    height:auto;
    display:block;
    align-items:center;
    justify-content: center;
    position:relative;

    max-width:75%;
    
    padding-left:50px;
    padding-right:50px;
    /*border-style:solid;*/
    /*border-width:thin;*/

    /*border-color:white;*/
    position:relative;
    z-index: 10;
  
}

.sectionPlugin {
    
    max-width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    height:auto;
    text-align:center;
  
    border-style:solid;
   /* border-color:white;*/

}

.mobilePlugin {
    width:100%;
    max-width:500px;
    display:block;
    text-align:center;
    justify-content: center;
}

.containerPlugin {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "div1 div2 div3"
      "div4 div5 div6"
      "div7 div8 div9"
      "div10 div11 div12";
  }
  
  .div1 { 
    grid-area: div1;
    width:200px;
    height:200px;
    background-color:rgb(0, 0, 0);
    border-style:solid;
    border-width:thin;
    Border-color:white;
    color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;

    transition: transform 1.153s;

    /*background-color: var(--mainlight);*/
    border: 1px solid var(--cyan);
    /*color:var(--cyan);*/
    box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;

    }

    .div1:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    
    }
  
  .div2 { grid-area: div2; width:200px;
    height:200px;
    background-color:rgba(255, 255, 255, 0);
    border-style:solid;
    border-width:thin;
    Border-color:white; 
    color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;

     /*background-color: var(--mainlight);*/
     border: 1px solid var(--cyan);
     /*color:var(--cyan);*/
     box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
    }

    .div2:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div3 { grid-area: div3;  width:200px;
    height:200px;
    background-color:rgba(255, 255, 255, 0);
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;

       /*background-color: var(--mainlight);*/
       border: 1px solid var(--cyan);
       /*color:var(--cyan);*/
       box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
    }

    .div3:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div4 { grid-area: div4;  width:200px;
    height:200px;
    background-color:rgba(255, 255, 255, 0);
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    /*background-color: var(--mainlight);*/
    border: 1px solid var(--cyan);
    /*color:var(--cyan);*/
    box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
  }

    .div4:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div5 { grid-area: div5;  width:200px;
    height:200px;
    background-color:rgba(255, 255, 255, 0);
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
 /*background-color: var(--mainlight);*/
 border: 1px solid var(--cyan);
 /*color:var(--cyan);*/
 box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;


}

    .div5:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div6 { grid-area: div6;  width:200px;
    height:200px;
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
     /*background-color: var(--mainlight);*/
 border: 1px solid var(--cyan);
 /*color:var(--cyan);*/
 box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;


}

    .div6:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div7 { grid-area: div7; width:200px;
    height:200px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 500ms; 
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
         /*background-color: var(--mainlight);*/
 border: 1px solid var(--cyan);
 /*color:var(--cyan);*/
 box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;

}

    .div7:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div8 { grid-area: div8; width:200px;
    height:200px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    Border-color:white; 
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
         /*background-color: var(--mainlight);*/
         border: 1px solid var(--cyan);
         /*color:var(--cyan);*/
         box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;

}

    .div8:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div9 { grid-area: div9;  width:200px;
    height:200px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
     /*background-color: var(--mainlight);*/
     border: 1px solid var(--cyan);
     /*color:var(--cyan);*/
     box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
}

    .div9:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
        
    }
  
  .div10 { grid-area: div10; width:200px;
    height:200px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    Border-color:white; 
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
      /*background-color: var(--mainlight);*/
      border: 1px solid var(--cyan);
      /*color:var(--cyan);*/
      box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;

}

    .div10:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div11 { grid-area: div11; width:200px;
    height:200px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    Border-color:white; 
    transition: all 500ms;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
      /*background-color: var(--mainlight);*/
      border: 1px solid var(--cyan);
      /*color:var(--cyan);*/
      box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;

}

    .div11:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  .div12 { grid-area: div12; width:200px;
    height:200px;
    background-color:white;
    border-style:solid;
    border-width:thin;
    Border-color:white;
    transition: all 333ms; 
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    background-color:rgba(255, 255, 255, 0);
      /*background-color: var(--mainlight);*/
      border: 1px solid var(--cyan);
      /*color:var(--cyan);*/
      box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
}

    .div12:hover {
        transform:scale(1.13);
        border-color:#C2FF5A;
        color: var(--main);
        background-color: var(--cyan);
        box-shadow: var(--cyan) 0px 0px 50px;
        cursor: pointer;
    }
  
  /*END OF PLUGIN SECTION */



/*NEW BUTTONS LIKE THE DOCS WEBSITE */

.desktop-MenuButton {
    width:100%;
    height:90px;
    border-radius: 25px;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    border: 0.6px solid;
    background-color: #141518d9;
    font-size:22px;
    color:white;
    font-weight:900;
    letter-spacing: -0.01em;
    margin:10px;


    transition: transform 1.153s;

    /*background-color: var(--mainlight);*/
    border: 1px solid var(--cyan);
    /*color:var(--cyan);*/
    box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
}

.desktop-MenuButton:hover {
    color: var(--main);
    background-color: var(--cyan);
    box-shadow: var(--cyan) 0px 0px 50px;
    cursor: pointer;
    transform:scale(1.153);
}





/* CSS ANIMATIONS COMPO16 SUPER UPDATE YEAH */

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   


}

/* CSS ANIMATIONS COMPO16 SUPER UPDATE YEAH */

.floatingLittle { 
    animation-name: floatingLittle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floatingLittle {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   


}

.floatingLeft { 
    animation-name: floatingLeft;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 10px;
    margin-top: 5px;
}
 
@keyframes floatingLeft {
    0% { transform: translate(-15px,  0px); }
    50%  { transform: translate(-35px, 0px); }
    100%   { transform: translate(0, -0px); }   


}

/* CSS ANIMATIONS COMPO16 SUPER UPDATE YEAH */

.floatingOther { 
    animation-name: floatingOther;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floatingOther {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, -0px); }   


}

.floatingLess { 
    animation-name: floatingLess;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floatingLess {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -5px); }
    100%   { transform: translate(0, -0px); }   


}

/*Z - Translate Z */

.zMove {
  
 
    transition: all 1.153s ease;
}

.zMove:hover {
    transform: perspective(400px) translateZ(-200px);
    transform: rotateY(-45deg);
    transform: rotateX(-25deg);
}

.zMove:-moz-drag-over{
    transform: perspective(400px) rotateY(45deg);
}

/*FLOATING SATAS */

  .scene-1-4 {
    display:block;

    background-color:#d6d6d600;
    width:100%;
    height:100%;
    background-image: url("s1Sata-C.png");
    background-repeat: repeat-x;
    background-size: 50%;
    background-attachment:scroll;
    background-position-y: 50px;
    transition: transform 6s;
  
}

.scene-1-4:hover {
    transform: scale(1.05);
}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }





  /* YES MOBILE YES */


/*MOBILE ACTUALLY MATTERS - I guesss...... Have mercy on me Lord */

@media only screen and (max-width: 620px) {
    .mainSUPERstory {
        display:none;
    }

    .metApeSection {
        display:none;
    }

    #storyButton {
        display:none;
    }


   

    /*.sectionPlugin {
        display:none;
    }*/
}

/*INSTALL APE SCREEN ON MOBILE - 
MAKE BUTTONS SMALLER AND ACTUALLY CENTERED */

@media only screen and (max-width: 620px) {

    .section-installApe {
        background-color:transparent;
        margin-left:0px;
        padding-bottom:40px;
    }

    .wrapper-installApe {
        background-color:transparent;
    }

    .desktop-MenuButton {
        transform:scale(1);
        max-width:320px;
    }

    .desktop-MenuButton:hover {
        transform:scale(1);
    }

}

/*TURN OFF ALL ANIMATIONS ON MOBILE */
@media only screen and (max-width: 620px) {

    :root {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }

    .floating {
        animation-play-state: paused;    }

        .floatingLittle 
        {
            animation-play-state: paused;    }
            .floatingOther
            {
                animation-play-state: paused;    }
}

/*PLOT GRAPH ON MOBILE FIX - FIX INVERSION */
@media screen and (max-width: 600px) {
.plotgraph {
    width:300px;
    height:auto;
    /*filter: invert(0);*/
    mix-blend-mode: lighten!important;

}

.techPlotGraph {
    width:90%;
    height:auto;
}

}

@media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }

    .card-full {
        grid-row: span .2 / auto;
      }
  
    .card-wide {
      grid-column: span 2 / auto;
    }

    .card-wide-wide {
        grid-column: span 6/ auto;
        width:100%;
      }

      .card-wide-75 {
        grid-column: span 4/ auto;
        width:100%;
      }
  }


  /*SHUT OFF DESKTOP MENU ON MOBILE */
@media only screen and (max-width: 620px) {
    nav {
        display:none;
     }
    
    .full-header {
        min-height:125vh!important;
        max-height:125vh!important;
    }
    
    #logo2 {
        display:none;
    }
    
    }
    
    /* SHUT OFF DESKTOP PLUGIN VIEW ON MOBILE */
    @media only screen and (max-width: 620px) {
    
        /*.sectionPlugin {
            display:none!important;
        }*/
    
    }
    
    /* SHUT OFF CERTAIN STARS ON MOBILE */
    /*@media only screen and (max-width: 620px) {
    
        #stars2 {
            display:none;
        }
        #stars4 {
            display:none;
        }
    }*/



    @media only screen and (min-width: 640px) {

        .mobileMenuSuperWrap {
            display:none;
        }
    }
    /*On Mobile - Fix the fonts and sugar */
    @media only screen and (max-width: 620px) {
    
        .spacer-small {
            display:none;
        }
    
        /*.sectionPlugin {
            display:none;
        }*/
    
   
    
      
        .asci-container-xl {
            max-width:350px;
        }
    
        .codeWrap {
            background-color:rgba(92, 36, 244, 0);
    
        }
        .mobileMenuSuperWrap {
            display: none;
        }
    
    
    }
    
    /* Mobile - Kill Desktop Plugin View on Mobile */
    
    
    
    .mobileLinkWrap {
        display:block;
        overflow-y: auto; /*Vertical scroll*/
        width:100%;
        height:auto;
        background-color:grey;	
        
    }
    
    .menuMobileButton {
        width:100%;
        height:auto;
        padding-top:2vh;
        padding-bottom:2vh;
        background-color:rgb(0, 0, 0);
        font-family:var(--body-font);
        font-size:6vw;
        text-transform: uppercase;
        color:rgb(255, 255, 255);
        margin-top:10px;
    
    }
    
    
 
@media screen and (max-width: 600px) {
    .containerPlugin {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "div1"
        "div2"
        "div3"
        "div4"
        "div5"
        "div6"
        "div7"
        "div8"
        "div9"
        "div10"
        "div11"
        "div12";
    }
  }


  /*MEDIA FONT BUSINESS */
/*SUB HEADER FONT INCREASE */

@media screen and (max-width: 600px) {

.header-sub {
    background-color:transparent;
    font-weight:500;
    font-size:9.25vw;
    line-height: 90%;
    /*font-size: clamp(2.2rem, 1.25vw + 0.5rem ,3rem);*/
}

}
    
    
    
    
    