/*compo-t4 css*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Barlow Condensed', sans-serif;

}

body {
    background-color: #000000;
    font-family: 'Barlow Condensed', sans-serif;

}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    text-align:center;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:6rem;
    text-align:center;
    color:white;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:4.5rem;
    text-align:center;
    margin-bottom:30px;
    line-height: .85em;
    color:white;
}

.image-mosaic {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }
  
  .bgLight {
      background-color:white;
      border-color:red!important;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
  
  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }

    .card-wide-wide {
        grid-column: span .5 / auto;
      }
  }
  
  .glow {
      border-style:solid;
      border-width: 3px;
      /*border-color: rgb(203, 255, 221);
      border-radius: 25;*/
  }

  .storyWrap {
    /*max-width:1900px;*/
    width:100%;
    height:auto;
    justify-content: center;
    
  }

  section {
    margin:20px;
    background-color:transparent;
  }
  .spacer {
    width:100%;
    height:40vh;
  }

  /*CRAZY SILL */

  .card:hover {
    border-color:red!important!;
  }

  /*TECH STACK IMPORT
  as of 1.24.23 */

  /*The Tech Stack */

.techStack_MainWrapper {
    display:flex;
    align-items:top;
    justify-content:center;
    background-image:url(spacePat.png);
    position:relative;
    z-index:5;
    padding:0px;
    max-height:250vh;
    /*min-height:200vh;*/
}

.techStackContainer {
    max-width:75%;
    
    padding-left:50px;
    padding-right:50px;
    border-style:solid;
    border-width:thin;
    border-color:white;
    position:relative;
    z-index: 10;
    background-color:black;
    color:white;
}

.techStack-title {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    color:white;
    text-align:center;
    line-height:1em;
    border-style:solid;
    border-color:white;
    margin:40px;
    line-height:.85em;
    padding:10px;
}

/*Install Ape */
/*Install Ape Screen*/

.section-installApe {

    width:100%;
    height:100vh;
    display:flex;
    text-align:center;
    justify-content: center;
    align-items:center;
}

.install-ape-text {
    font-family: 'Barlow', sans-serif;

    font-size:2rem;
    line-height: 2.5em;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    border-style:solid;
    border-width:thin;
    border-color:rgba(255, 255, 255, 0);
    padding:10px;
    font-weight:500;
    z-index:100;
    cursor: pointer;
}

.install-ape-text:hover {
    background-color:rgb(31, 31, 31);
    color:rgb(255, 255, 255);
    border-color:white;
}


.wrapper-installape {
    display:block;

}


/*CODE WRAPS ASCI*/

.codeWrap {
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content: center;
}


.asci-container {
    width:620px;
    height:auto;
}

/*AG IMPORT FROM PREVIOUS AG WORK - MAGIC OF CODE EH?*/

/*IMPORT FROM INDEX_build2.css */

.topNav {
    width:100%;
    padding:15px;
    margin-right: 30px;
    position:fixed;
    z-index: 400;
    height:45px;
    background-color:rgba(0, 0, 0, 0);
    display:flex;
    flex-direction: right;
    justify-content:space-between;
    /*mix-blend-mode: difference;*/
        }

 .topNav:hover {
          
            background-color:rgba(255, 255, 255, 0.023);
            
                }

.menuGroup {
    position:relative;
    right:60;
    top:5%;
    mix-blend-mode: multiply;
}

.menuButton {
    font-size:16px;
    font-weight:600;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    border-style:solid;
    border-width:thin;
    border-color:transparent;
    font-family: 'Inter', sans-serif;
    color:rgb(255, 255, 255);
    padding:15px;
}

.menuButton:hover {
    font-size:16px;
    background-color: rgba(240, 248, 255, 0);
    border-style:solid;
    border-color:rgb(255, 255, 255);
    cursor: pointer;
}

.graphic-logo {
    width:52px;
    height:auto;
    border-style:solid;
    border-color:transparent;
    border-width:thin;
}

.graphic-logo:hover {
    border-color:white;
}

/*HEADER WORK */
.full-header {
    width:100%;
    height:100vh;
    text-align:center;
    display:Flex;
    
}

.headerCenter {
    width:100%;
    max-height:100%;
    background-color:rgba(149, 149, 149, 0);
    background-image:url("apeIntroSplash.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    position:relative;
    
}

.header-title {
    margin-top:150px;
    text-transform :uppercase;
    background-color:rgb(0, 0, 0);
    z-index:30;
    font-size: clamp(4rem, 10vw + 0.5rem ,9rem);
    padding:20px;
    line-height:clamp(4rem, 10vw + 0.5rem ,9rem);;
    letter-spacing: -0.02em;
    margin-bottom:0;

}

.header-sub {
    background-color:black;
    font-weight:400;
    
    font-size: clamp(2rem, 1vw + 0.5rem ,9rem);
}

/*HEADE SPLASH BUTTONS*/

.splashButton {
    font-size: clamp(2rem, 1vw + 0.25rem ,4.5rem);
    font-weight:600;
    letter-spacing: -0.02em;
    padding:7.5px;
    background-color:black;
    color:rgba(255, 255, 255, 0.792);
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    border-style:none;
    cursor: pointer;
}

.splashButton:hover {
    color:white;
}


/*AG SCENE TITLE DIV WORK */
.scene {
    width:100%;
    height:100%;
    background-color:rgb(0, 0, 0);
    text-align:center;
    padding:20px;
  
    display:flex;
    align-items:center;
    justify-content: center;
}

.sceneCopy {

}

.sceneText {
    text-transform:uppercase;
    font-size:54px;
    line-height:50px;
    font-weight:600;
}

/*All about Floating Stars*/

.fullStar {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background-color:red;
}


/*full width sugar*/

.fullwidth-image {
    width:100%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}