@import url('https://fonts.googleapis.com/css?family=Satoshi');


body {
    background-color:rgb(0, 0, 47);
    color:white;
    font-family:'Satoshi';
}

button {
    background-color:rgba(0, 255, 255, 0.07);
    color:rgb(255, 255, 255);
    border-color:rgb(0, 251, 255);
    border-style:solid;
    border-width: 2px;
}

button:hover {
background-color:rgba(0, 208, 255, 0.755);
    color:rgb(255, 255, 255);
    border-color:rgb(0, 251, 255);
    border-style:solid;
    border-width: 2px;
}



/*ACA AG SUPER GRID - SHOWCASE - BUILD 1 */

.showcaseMain_Grid {
    display:grid;
    grid:auto / repeat(4,1fr);
    grid-gap:10px 10px;
    padding:25px;
}

.showcaseMain_Item {
    height:250px;
    min-width:200px;
    background-color:#000000!important;
    display: flex;
    justify-content: center;
    align-items: center;

    border-style:solid;
    border-color:rgb(44, 223, 255);
    border-size:1px;

}

@media only screen and (max-width:600px ){
    .showcaseMain_Grid {
        display:grid;
        grid:auto / repeat(1,1fr);
        grid-gap:10px 10px;
    }
}

/*SHOWCASE ITEM WRAP */

.showCaseItemWrap {
    display:block;
    text-align:center;
    background-color:#00000014
    align-items:center;
    position:relative;
    padding:50px;
}

.showCaseItemWrap:hover {
    display:block;
    text-align:center;
    background-color:rgba(0, 255, 255, 0.068);

    align-items:center;
    position:relative;
}

/*SHOWCASE STYLES*/

/*Showcase Project Header*/
.showCaseProjectHeader {
    font-size:24px!important;
    color:red;
}





/* SHOWCASE NAVY NAVY */

.navyShowcaseTopSubMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* NAVY STYLES */
    background-color: #000000;
    position:relative;
    width:100%;
}

.navyShowcaseTopSubMenuItem {
    width:100%;
    height: 100%;
    text-align:center;
    background-color: rgba(89, 0, 28, 0);
    border-style:solid;
    border-color:white;
    border-width: 2px;
}

            /*Top Navy Style */

            .topNavyWrap {
                display:flex;
                position:fixed;
        
                /*topNavyStyles*/
                background-color: black;

            height:50px;
            width:100%;
            z-index: 100;
            
            }
            
            .topNavyItem {
                flex:.75;
            }
