body {
    background-color: rgb(0, 0, 0);
    height:300px;
    color:white;
    
}

.site-title {
    text-align:center;
    font-size: clamp(4rem, 10vw + 0.5rem ,9rem);
    font-weight: 900px;
    text-transform: uppercase;
    position:fixed;
    color:rgb(255, 255, 255);
    width:100%;

}

.site-header {
    background-image: url("bg3.png");
    background-position: bottom;
    background-size: cover;
    padding: 5rem;
    min-height:70vh;
    position: relative;
}

.site-header-mask {
    position: absolute;
    inset:0;
    /*background-color:rgba(255, 0, 0, 0.288);*/
    mask: url(fg3.png); 
    mask-image:url(fg3.png);
    mask-position:bottom;
    mask-size:cover;
    background-image:url(fg3.png);
    background-size:cover;
    z-index:2;

                          /* Pixel image used as mask */
}

/*
 -webkit-mask: url("fg2.png");
    mask: url("fg2.png");
    mask-position:bottom;
    mask-size:cover;
    -webkit-mask-position:bottom;
    -webkit-mask-size:cover;

    */

    .space-title {
        text-align:center;
        font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
        font-weight: 900px;
        text-transform: uppercase;
        position:fixed;
        color:rgb(255, 255, 255);
        width:100%;
        
    
    }
    
    .space-header {
        background-image: url("bg4.png");
        background-position: bottom;
        background-size: cover;
        padding: 5rem;
        min-height:170vh;
        position: relative;
    }
    
    .space-header-mask {
        position: absolute;
        inset:0;
        background-color:rgba(201, 195, 255, 0.288);*/
        -webkit-mask-image: url(fg4.svg);
        mask-image: url(fg4.svg);
        mask-image: url(fg4.png);
        mask-position:bottom;
        mask-size:cover;
        /*background-image:url(fg4.png);
        background-size:cover; */
        z-index:-2;
    
                              /* Pixel image used as mask */
    }

    .forceFG {
        width:300px;
        height:auto;
        position:relative;
        z-index: 30;
        background-color: rgba(255, 0, 0, 0.231);
    }

