html {
    background-color:black!important;
}

body {
    background-color: rgb(0, 0, 0);
    height:300px;
    -moz-appearance: none;
    -webkit-appearance: none;
    
}

.site-title {
    text-align:center;
    font-size: clamp(4rem, 10vw + 0.5rem ,9rem);
    font-weight: 900px;
    text-transform: uppercase;
    position:fixed;
    color:rgb(255, 255, 255);
    width:100%;

}

.site-header {
    background-image: url("bg4.png");
    background-position: bottom;
    background-size: cover;
    padding: 5rem;
    min-height:70vh;
    position: relative;
}

.site-header-mask {
    position: absolute;
    inset:0;
    /*background-color:rgba(255, 0, 0, 0.288);*/
    mask: url(fg3.png); 
    mask-image:url(fg3.png);
    mask-position:bottom;
    mask-size:cover;
    background-image:url(fg3.png);
    background-size:cover;
    z-index:2;

                          /* Pixel image used as mask */
}

/*
 -webkit-mask: url("fg2.png");
    mask: url("fg2.png");
    mask-position:bottom;
    mask-size:cover;
    -webkit-mask-position:bottom;
    -webkit-mask-size:cover;

    */

    .space-title {
        text-align:center;
        font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
        font-weight: 900px;
        text-transform: uppercase;
        position:fixed;
        color:rgb(255, 255, 255);
        width:100%;
        
    
    }
    
    .space-header {
        background-color:black;
        /* background-image: url("bg4.png"); */
        background-position: bottom;
        background-size: cover;
        padding: 5rem;
        min-height:100vh;
        position: relative;
    }
    
    .space-header-mask {
        position: absolute;
        inset:0;
        background-color:rgba(201, 195, 255, 0.288);*/
        -webkit-mask-image: url(fg4.svg);
        mask-image: url(fg4.svg);
        mask-image: url(fg4.png);
        mask-position:bottom;
        mask-size:cover;
        /*background-image:url(fg4.png);
        background-size:cover; */
        z-index:-2;
    
                              /* Pixel image used as mask */
    }

    .forceFG {
        width:300px;
        height:auto;
        position:relative;
        z-index: 30;
        background-color: rgba(255, 0, 0, 0.231);
    }

/*IMPORT FROM starry2animation.css */

body {
    background-color:rgb(0, 0, 0);
    background-color:antiquewhite;
}


/*The Tech Stack */

.techStack_MainWrapper {
    display:flex;
    align-items:top;
    justify-content:center;
    background-color:grey;
    position:relative;
    z-index:100;

}

.techStackContainer {
    max-width:50%;
    padding:100px;
    border-style:solid;
    border-width:thin;
    border-color:white;
    position:relative;
    z-index: 100;
    background-color:black;
    color:white;
}

.techStack-title {
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    color:white;
}

.space-title {

    position:absolute;
    z-index:5;
    font: size 32px,  !important;
}

.space-title2 {

    position:absolute;
    z-index:10;
    top:25%;
}

.space-header {
    background-color:rgb(0, 0, 0);
}

.space-header2 {
    background-color:red;
}

/*Float scene */

.float-header {
    border-style:solid;
    border-color:pink;
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0, 0);
}

.sata-graphic {
    padding-top:10%;
    padding-left:2%;
   width:700px;
   height:auto;
}

.sata-graphic-overlay {
    position:absolute;
    z-index: 2;
}

.sata-graphic-underlay {
    position:absolute;
    z-index:-1;
}

/* COMET SCENE */



.space-header-comet {
    background-color: rgb(0, 0, 0)!important;
    position:relative;
    z-index: 1;
    height:150vh;
    overflow:hidden;
    display:block;
    padding-top:200px;
    padding-bottom:200px;
    border-style:solid;
    border-color:red;
    
}

.space-title-comet {
    color:white;
    text-align:center;
    font-size: clamp(1rem, 10vw + 0.5rem ,9rem);
    font-weight: 900px;
    text-transform: uppercase;
    width:100%;

}

.comet-wrap-backflip {
    display:flex;
    justify-content: space-around;
    border-color:white;
    border-style:solid;
}



/* Coloney Scene */

.space-header-colony {

    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    background-size: stretch;
    padding: 5rem;
    min-height:200vh;
    position: relative;
    scroll-behavior: smooth;
}

/*Space Stuff Scene */

.space-header-stuff {

    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding-top:300px;
    background-size: cover;
    padding: 5rem;
    min-height:250vh;
    position: relative;
    background-position-y: left; 
    border-style:solid;
    border-color:purple;
    
}


/*School Scene */

.school-header {
    background-color:rgb(214, 214, 214);
    color:black;
    padding-top:500px;
    /*background-image: url("school.png");*/
    background-position: cover;
    background-size: 100%;
    padding: 5rem;
    min-height:100vh;
    position: relative;
    z-index: 30;
    scroll-behavior: smooth;
    
}

.school-title {
    text-align:center;
    font-size: clamp(2rem, 10vw + 0.5rem ,9rem);
    font-weight: 900px;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    width:100%;
}

.school-text {
    font-size:26px;
    background-color:rgba(0, 0, 0, 0.268);
    width:100%;
    

}

/*TINKER AT NIGHT SCENE */

.tinker-header {
    background-color:rgb(0, 0, 0);
    color:black;
    padding-top:500px;
    background-position: cover;
    background-size: 100%;
    padding: 5rem;
    min-height:650vh;
    position: relative;
    z-index: 30;
    scroll-behavior: smooth;
    border-style:solid;
    border-color:pink;
    
}

/*Lonely Scene */

.lonely-header {
    background-color:rgb(0, 0, 0)!important;
    padding-top:500px;
    background-position: cover;
    background-size: 100%;
    padding: 5rem;
    min-height:700vh;
    position: relative;
    z-index: 10;
    scroll-behavior: smooth;
    color:white;
    border-style:solid;
    border-color:rgb(242, 255, 0);
}

.lonely-text {
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    color:white;
    text-align:center;
}



/* NOT ALONE SCENE */

.notalone-header {
    background-color:rgb(0, 0, 0)!important;
    padding-top:500px;
    background-position: cover;
    background-size: 100%;
    padding: 5rem;
    min-height:100vh;
    position: relative;
    z-index: 10;
    scroll-behavior: smooth;
    color:white;
    border-style:solid;
    border-color:rgb(255, 0, 221);
}

.notalone-text {
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    color:white;
    text-align:center;
}

/*WONDER SCENE */

.wonder-header 
{
    background-color:rgb(0, 0, 0)!important;
    padding-top:500px;
    background-position: cover;
    background-size: 100%;
    padding: 5rem;
    min-height:100vh;
    position: relative;
    z-index: 10;
    scroll-behavior: smooth;
    color:white;
    border-style:solid;
    border-color:rgb(255, 0, 221);
}








/*IMPORT FROM INDEX_build2.css */

.topNav {
    width:100%;
    display:flex;
    flex-direction: right;
    justify-content:space-between  
        }

.menuButton {
    font-size:16px;
    text-transform: uppercase;
    background-color: rgba(240, 248, 255, 0);
    border-style:solid;
    border-color:rgba(240, 248, 255, 0);
    font-family: 'Inter', sans-serif;
}

.menuButton:hover {
    font-size:16px;
    background-color: rgba(240, 248, 255, 0);
    border-style:solid;
    border-color:black;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}


/*Splashy */

.splashySplashSplash {
    width:100%;
    height:100vh;
    padding:20px;
    background-color:antiquewhite;
}


.splashImage {
    position:absolute;
    right:0;

    
}

.splashText {
    background-color:rgba(255, 0, 0, 0);
    inline-size: 500px;
    position:absolute;
    color:black;
    top:50%;
    left:5%;
    padding:20px;
    font-size: 24px;
    font-weight: 900px;
}
/*END OF IMPORT */



/*Graphic styles */

.cloud1 {
    width:400px;
    height:auto;
    overflow:hidden;
}

.spaceManOnMoon {
    width:75%;
    height:auto;
    overflow:hidden;
}

.sata {
    width:500px;
    height:auto;
    overflow:hidden;
}

.apeOut {
    width:900px;
    padding:100px;
    height:auto;
    overflow:hidden;

}

.littleSpaceyA {
    width:400px;
    padding:100px;
    height:auto;
    overflow:hidden;
    background-color:black;
}

/*imageWraps */

.wrap2image {
    display:flex;
}

/*Install Ape Screen*/

.section-installApe {

    width:100%;
    height:100vh;
    display:flex;
    text-align:center;
    justify-content: center;
    align-items:center;
}

.install-ape-text {
    font-size:32px;
    text-transform: uppercase;
}

.wrapper-installape {
    display:block;

}


/*

/*END OF IMPORT */



/* EXPERIMENT #1 - MOVE ON MOUSE */

.experiment1 {
    width:100%;
    height:100vh;
    background-color:white;
}

.demo {
    background-color: hsl(207, 9%, 19%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .perspective-container {
    perspective: 800px;
  }

  .card {
    background-image: url(https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif);
    background-size: cover;
    box-shadow: 0 0 140px 10px rgba(0,0,0,.5);
    position: relative;
    height: 300px;
    width: 500px;
    /* overflow: hidden; Try removing this to see how the sheen works! */
    --sheenX: 0; /* Set these with JavaScript */
    --sheenY: 0;
  }

  .card::after {
    content: "";
    position: absolute;
    top: -400px;
    right: -400px;
    bottom: -400px;
    left: -400px;
    background: linear-gradient(217deg, rgba(255,255,255,0), rgba(255,255,255,0) 35%, rgba(255,255,255,0.25) 45%, rgba(255,255,255,.25) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
    transform: translateX(var(--sheenX)) translateY(var(--sheenY));
  }