@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P';
}

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #ff0062dd;
    font-family: 'Press Start 2P';
}

footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 64px;
    height: 64px;
}

.footer-logo:hover {
    filter: invert(1);
    animation: horizontal-shaking 0.2s infinite; /* Adjust duration and other properties as needed */

}

@keyframes horizontal-shaking {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    filter: invert(1);
}

.logo:hover {
    filter: invert(0);
}

.github-link {
    font-size: 18px;
    text-decoration: none;
    width: 500px;
    height: auto;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to right, #0fff6f, #c0c0c0);
    }
    25% {
        background: linear-gradient(to right, #d0d0d0, #06ffea);
    }
    50% {
        background: linear-gradient(to right, #2affed, #a0a0a0);
    }
    75% {
        background: linear-gradient(to right, #a0a0a0, #04f7ff);
    }
    100% {
        background: linear-gradient(to right, #eeff02, #e2e2e2);
    }
}


/*text links*/

.text-popup-links {
    color:white;
    text-decoration: none;
    font-size: 12px;
    background-color:black;
    padding:10px;
    border-style:solid;
    border-color:white;
}

.text-popup-links:hover {
    background-color:white;
    color:black;
    border-color:black;
}


.trailer-text-link {
    color:black;
    text-decoration: none;
    font-size: 12px;
}

.trailer-text-link:hover {
    color: white;
}

/* Added styles for popup */
.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

.subParagraph {
    color:rgba(0, 0, 0, 0.328);
    text-align:center;
    margin:0px;
    padding:10px;
    text-align: justify;


}

.info-popup-content {
    background-color: #ffffff;
    border-style:solid;
    border-color:black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    min-width:50%;

}

.info-icon {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.info-icon:hover {
    color: white;
}
