body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    color: white;
    background-color: black;

}

header {
    text-align: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    height: 100%;
    /* Adjust based on your preference */
    font-size: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Dark overlay for better text visibility */
    z-index: 0;
}

.grid-item span {
    z-index: 1;
    position: relative;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}