/*Mobile CSS*/

/*MOBILE ROOT CONDITIONALS */

@media only screen and (max-width: 620px) {
    .mainSUPERstory {
        display:none;
    }

    .metApeSection {
        display:none;
    }

    #storyButton {
        display:none;
    }

    .mobileMenuSuperWrap {
            display:none;
        }

    .spacer-small {
            display:none;
        }

}



@media only screen and (max-width: 620px) {

    .section-installApe {
        background-color:transparent;
        margin-left:0px;
        padding-bottom:40px;
    }

    .wrapper-installApe {
        background-color:transparent;
    }

    .desktop-MenuButton {
        transform:scale(1);
        max-width:320px;
    }

    .desktop-MenuButton:hover {
        transform:scale(1);
    }

}


/*TURN OFF ALL ANIMATIONS ON MOBILE */
@media only screen and (max-width: 620px) {

    :root {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }

    .floating {
        animation-play-state: paused;    }

        .floatingLittle 
        {
            animation-play-state: paused;    }
            .floatingOther
            {
                animation-play-state: paused;    }
}


/* STORY CARDS MOBILE */

@media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }

    .card-full {
        grid-row: span .2 / auto;
      }
  
    .card-wide {
      grid-column: span 2 / auto;
    }

    .card-wide-wide {
        grid-column: span 6/ auto;
        width:100%;
      }

      .card-wide-75 {
        grid-column: span 4/ auto;
        width:100%;
      }
  }

    /*SHUT OFF DESKTOP MENU ON MOBILE */
@media only screen and (max-width: 620px) {
    nav {
        display:none;
     }
    
    .full-header {
        min-height:125vh!important;
        max-height:125vh!important;
    }
    
    #logo2 {
        display:none;
    }
    
    }

    /*MOBILE FONT STUFF */

    /*On Mobile - Fix the fonts and sugar */
    @media only screen and (max-width: 620px) {
    
      
      
        .asci-container-xl {
            max-width:350px;
        }
    
        .codeWrap {
            background-color:rgba(92, 36, 244, 0);
    
        }
        .mobileMenuSuperWrap {
            display: none;
        }
    
    
    }