/*docs css*/
/*Colors We Like =     --cyan :#4dff00;*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --main :#0a192f;
    --mainlight: #172a46;
    --nav :#09192f;
    --white :#ccd6f6;
    --cyan :#4dff00;
    }
* {
    margin: 0;
    padding: 0;

}

html {
  margin:0;
  padding:0px;
  background-color:black;
  font-family: 'Press Start 2P', cursive;
  max-height:100vh;

}

body {
    background-size: cover;
    background-blend-mode: lighten;
    font-family: 'Press Start 2P', cursive;

}

a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Press Start 2P', cursive;
}





/*TOP Nav Logo */
.navLogo {
    width:50px;
    height:50px;
    background-image: url("../assets/apeFull-8bit.png");
    background-size:cover;
    padding:5px;
    margin:5px;
    transition: transform 3s;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1) 3s;
}

.navLogo:hover {
    transform:scale(1.13);
}

/*MAIN LOGO - CENTERED */

.header-splash {
display:flex;
justify-content: center;
align-items:center;
}

.desktop-Logo-center {
    background-color: rgba(255, 255, 255, 0);
    width: 620px;
    height: 180px;
    top: 470px;
    left:150px;
    transform: scale(1.0);
    background-image: url("../assets/doc-logo-8bit.png");
    background-size:contain;
    background-repeat: no-repeat;
    transition: transform 1.153s;
}

.desktop-Logo-center:hover{
    transform:scale(1.1153);
}

/*CENTERED MENU HOLDER */
.desktop-MenuHolder {
    width: 100%;
    height:90px;
    display:flex;
    justify-content: center;
   
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #2243ff00;
    display:inline-flex;
    align-items: center;
    justify-items: center;
    font-family: 'Press Start 2P', cursive;

}

.desktop-MenuButton {
    min-width:250px;
    min-height:70px;
    max-height:70px;
    border-radius: 7.5px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    border: 0.6px solid;
    background-color:rgba(0, 128, 0, 0.191)!important;
    font-size:16px;
    color:rgb(255, 255, 255);
    font-weight:400;
    letter-spacing: -0.01em;
    transition: transform .33s;
    border: 1px solid var(--cyan);
    box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
    padding:20px;
    margin:5px
}

.desktop-MenuButton:hover {
  background-color: var(--cyan)!important;
  cursor: pointer;
  color:var(--nav);
    transform:scale(1.015153);
}

.FG-center-right {
    float: right;
    width:45%;
    height:auto;
    transition: transform 1.153s;
}

.FG-center-right:hover {
    transform: scale(0.5153);
}

/*.glowButton {
    max-width:250px;
    padding: 2px;
    position: relative;
    z-index:1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    margin-right:25px;
    filter: brightness(120%);
  }

  .glowButton:before {
    z-index:-1;
    position: absolute;
    content:"";
    width:230px;
    height:230px;
    left:10px;
    top:0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    filter: blur(20px);

  }*/

  .gradient {
    background-color: #0b090a;
    padding: 30px;
    color: white;
    font-size: 35px;
    text-align: center;
  }

.bigBoyMenu-wrap {
  display:flex;
  align-items:center;
  justify-content: center;
}

/*Background Stars + Animations */
#stars {
  max-height:90vh;
  overflow:hidden;
}

/*DOCS TABS*/
.tab-content {
  display: none;
  color: white;

}
.tab-content.active {
  display: block;
  
}

/*MAIN DOC SYSTEM */
.mainDocTab{
  background-color:rgba(0, 128, 0, 0.191)!important;
  padding:20px;
  margin:20px;
  border-style:solid;
  border-color: var(--cyan);
  border-radius:7.5px;
  box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
  height:300px;
}

#tab-apePackages ul {
  list-style-type: none;
  padding: 0;
}

#tab-apeDocs ul {
  list-style-type: none;
  padding: 0;
} 

#tab-apeDocs li {
  background-color: rgba(0, 128, 0, 0.191);
  border: 1px solid var(--cyan);
  border-radius: 7.5px;
  padding: 10px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P';
  font-size: 16px;
  min-width:100%!important;
  min-width:500px!important;
  text-align:center;
}
#tab-apeDocs li:hover {
background-color: var(--cyan);
cursor: pointer;
color:var(--nav);
}

#tab-apePackages li {
  background-color: rgba(0, 128, 0, 0.191);
  border: 1px solid var(--cyan);
  border-radius: 7.5px;
  padding: 10px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P';
  font-size: 16px;
  min-width:100%!important;
  min-width:500px!important;
  text-align:center;
}

#tab-apePackages li:hover {
  background-color: var(--cyan);
  cursor: pointer;
  color:var(--nav);
}

#tab-apePlugins ul {
  list-style-type: none;
  padding: 0;
}



#tab-apePlugins li {
  background-color: rgba(0, 128, 0, 0.191);
  border: 1px solid var(--cyan);
  border-radius: 7.5px;
  padding: 10px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P';
  font-size: 16px;
  min-width:100%!important;
  min-width:500px!important;
  text-align:center;
}

#tab-apePlugins li:hover {
  background-color: var(--cyan);
  cursor: pointer;
  color:var(--nav);
}



.mainDocNavigator {
  background-color:yellow;
}

.menu {
  display:flex;
  align-items:center;
  justify-content: center;  
}

.product-logo {
  width:92px;
  margin:20px;
}

.product-logo:hover {
  opacity: .5;
}

#product-silverback {
  width:48px;
}

.buttonwrap {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

#apeFramework-buttonwrap {
  display:flex;
  align-items:center;
  justify-content: center;
  background-color:rgba(0, 255, 76, 0)!important;
  height:100%;
 /* border-style:solid;
  border-color: var(--cyan);
  border-radius:2.5%;*/
}

.ape-buttonwrap {
  display:flex;
  align-items:center;
  justify-content: center;
  background-color:rgba(0, 255, 76, 0.048)!important;
  height:100%;
  /*border-style:solid;
  border-color: var(--cyan);
  border-radius:2.5%;*/
}

.apePluginWRAP {
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  /*background-color:rgba(0, 255, 76, 0.048)!important;
  border-style:solid;
  border-color: var(--cyan);
  border-radius:2.5%;*/
}