/*CSS SPECIFIC FOR THE GUIDE AND NOT TO BE CONSIDERED IN BROADER SB APPLICATION */

.welcome {
    /* The image used */
    background-image: url('../assets/sb_proto_bg1.png');

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}