/*VYPER DAY CSS */

body {
    background-color: #C5E9B9; /* light baby green */
    font-family: Arial, sans-serif;
    margin: 20px;
    font-size:2vw;
  }
  h1, h2, h3 {
    color: #008080; /* emerald green */
  }
  .content-section {
    margin-bottom: 20px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1, h2, h3 {
    color: #008080;
  }
  p {
    line-height: 1.6;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #008080;
    text-decoration: none;
    border-radius: 5px;
  }
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }

.schedule {
    font-size: 20px;
    list-style-type: none;
  }
  .schedule > li {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #008080; /* emerald green */

  }
  .schedule > li > ul > li {
    margin-bottom: 5px;
  }