/*VYPER DAY CSS */

body {
    background-color: #C5E9B9; /* light baby green */
    font-family: Arial, sans-serif;
    margin: 20px;
    
  }
  h1, h2, h3 {
    color: #008080; /* emerald green */
  }
  .content-section {
    margin-bottom: 20px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1, h2, h3 {
    color: #008080;
  }
  p {
    line-height: 1.6;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #008080;
    text-decoration: none;
    border-radius: 5px;
  }
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }

.schedule {
    font-size: 16px;
    list-style-type: none;
  }
  .schedule > li {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #008080; /* emerald green */

  }
  .schedule > li > ul > li {
    margin-bottom: 5px;
    
  }

  #vyperLogo {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    mix-blend-mode: screen;
    border-style:node;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #b8d8d8, 0 0 10px #b8d8d8, 0 0 15px #b8d8d8, 0 0 20px #b8d8d8;
    }
    50% {
        box-shadow: 0 0 10px #b8d8d8, 0 0 20px #b8d8d8, 0 0 30px #b8d8d8, 0 0 40px #b8d8d8;
    }
    100% {
        box-shadow: 0 0 5px #b8d8d8, 0 0 10px #b8d8d8, 0 0 15px #b8d8d8, 0 0 20px #b8d8d8;
    }
}