/*STYLE FOR ALL APE*/

        /* Global Styles */
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        /* Main Styles */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .menu {
            display: flex;
        }

        .menu-item {
            flex: 1;
            display:flex;
            align-items:center;
            justify-content: center;
            min-width:20%;
            height: 100%;
            min-height:100vh;
            border-radius: 7.5px;
            margin: 10px;
            text-align: center;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        .menu-item:hover {
            background-color: #ff8dd1;
        }

        .menu-item a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 20px;
        }

        .container-product {
            background-color:red;
            max-width:100vw;
            overflow:hidden;
        }

        .splash {
            width:100%;
            min-height:20vh;
            background-color:#ff8dd120;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        .splash-logo {
            width: 300px;
            height:auto;

        }

        .product-logo {
            min-width:220px;
            max-width:220px;
            height:auto;
            overflow:hidden;
        }

        /* RESPONSIVE SUGAR */

    /* BREAKPOINT 1 AT 920 */
        @media only screen and (max-width: 920px) { 
            .container-product { 
            background-color:purple; 
        }

        .product-logo {
            min-width:180px;
            max-width:180px;
            height:auto;
            overflow:hidden;
        }

        }

    /*BREAKPOINT 2 AT 720 */
             @media only screen and (max-width: 720px) { 
            .container-product { 
            background-color:rgb(241, 0, 241); 
        }

        .product-logo {
            min-width:100px;
            max-width:100px;
            height:auto;
            max-height:50vh;
            overflow:hidden;
        }

        }

    /*BREAK POINT 3 AT 620 */
        @media only screen and (max-width: 620px) { 

            .container-product {
                background-color:yellow;
            }

            .menu {
                display:flex;
                flex-direction:column;
            }

            .product-logo {
            min-width:350px;
            height:auto;
            overflow:hidden;
        }



        }

        .container-bottom {
            background-color:green;
            width:100%;
            min-height:30vh;
            display:flex;
            align-items:center;
            justify-content: center;
        }