/*STYLE FOR ALL APE*/

        /* Global Styles */
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        /* Main Styles */
        /*.container {
            display: flex;
            justify-content: center;
            align-items: center;
        }*/

        .container-product {
            max-width:100vw;
            overflow:hidden;
        }

        .menu {
            display: flex;
        }

        .menu-item {
            flex: 1;
            display:flex;
            align-items:center;
            justify-content: center;
            min-width:20%;
            max-height: 500px;
            padding:20px;
            border-radius: 7.5px;
            margin: 10px;
            text-align: center;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        .menu-item:hover {
            background-color: #ff8dd1;
        }

        .menu-item a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 20px;
        }

       

        /*SPLASH*/

        .splash {
            width:100%;
            height:250px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow:hidden;
        }

        .splash-logo {
            width: auto;
            height:200px;

        }

        .splash-subHeader-text {
            color:white;
            font-size: 20px;
            font-weight: bold;
        }

        .product-logo {
            min-width:220px;
            max-width:220px;
            height:auto;
            overflow:hidden;
        }

        /* RESPONSIVE SUGAR */

    /* BREAKPOINT 1 AT 920 */
        @media only screen and (max-width: 920px) { 
            .container-product { 
            background-color:purple; 
        }

        .product-logo {
            min-width:180px;
            max-width:180px;
            height:auto;
            overflow:hidden;
        }

        }

    /*BREAKPOINT 2 AT 720 */
             @media only screen and (max-width: 720px) { 
            .container-product { 
            background-color:rgb(241, 0, 241); 
        }

        .product-logo {
            min-width:100px;
            max-width:100px;
            height:auto;
            max-height:50vh;
            overflow:hidden;
        }

        }

    /*BREAK POINT 3 AT 620 */
        @media only screen and (max-width: 620px) { 

            .container-product {
                background-color:rgba(255, 255, 0, 0);
            }

            .menu {
                display:flex;
                flex-direction:column;
            }

            .product-logo {
            min-width:350px;
            height:auto;
            overflow:hidden;
        }



        }

        .container-bottom {
            background-color:rgba(0, 128, 0, 0);
            width:100%;
            min-height:30vh;
            display:flex;
            align-items:center;
            justify-content: center;
            color:white;
        }

        .footer {
            background-color: #171717;
            padding: 20px;
            text-align: center;
        }
    
        .footer-links {
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            margin: 0 auto;
        }
    
        .footer-link {
            display: inline-block;
            margin-right: 10px;
        }
    
        .footer-link img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            filter: invert(1);
        }

        .footer-link img:hover {
            opacity: .7;
        }
    
        .footer-link a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
        }

        /*Mirror social */

        .footer-link-mirror img {
            width: 100px;
            height: auto;
            vertical-align: middle;
            filter: invert(0);
        }

        .footer-link-mirror img:hover {
            opacity: .7;
        }