@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P";
  margin: 0;
  padding: 0;
  min-width: 100%;
  font-size: 20px;
  min-height: 100vh;
  user-select: none;
  overflow: hidden;
  background-color: #cccccc75;
  /* Layer 1: Image background */
  /* Layer 2: Gold hue */
  /* Layer 3: Rest of the body content */
  background-image: 
    linear-gradient(rgba(255, 217, 0, 0.566), rgba(255, 217, 0, 0.937)), 
    url(./assets/gold4\ \(1\).gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: inherit;
}
html {
  height: 100%;
  overflow: hidden;
}

a {
  color: white;
}
h2,
h3,
p,
a {
  font-size: 14px;
  line-height: 2.2;
  filter: drop-shadow(0 0 0.75rem #fff200);

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  margin: 0px;
}

.container full-width-wrap {
  margin: 0px;
}

.logo {
  max-width: 33%;
  height: auto;
  margin-bottom: 20px;
  filter: invert(1);
  text-shadow: #2affed;
  filter: drop-shadow(0 0 0.75rem #fff200);
}

.logo:hover {
  filter: invert(1);
}

.github-link {
  font-size: 18px;
  text-decoration: none;
  width: 500px;
  height: auto;
}

.info-btn {
  font-size: 22px;
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem #fff200);

}

.full-width-wrap {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-btn {
  background-color: transparent;
  border-style: none;
  filter: invert(0);
}

.info-btn:hover {
  filter: invert(1);
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 64px;
  height: 64px;
  filter: invert(0);
  filter: drop-shadow(0 0 0.75rem #fff200);

}

.footer-logo:hover {
  filter: invert(1);
  animation: horizontal-shaking 0.2s infinite; /* Adjust duration and other properties as needed */
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to right, #0fff6f, #c0c0c0);
  }
  25% {
    background: linear-gradient(to right, #d0d0d0, #06ffea);
  }
  50% {
    background: linear-gradient(to right, #2affed, #a0a0a0);
  }
  75% {
    background: linear-gradient(to right, #a0a0a0, #04f7ff);
  }
  100% {
    background: linear-gradient(to right, #eeff02, #e2e2e2);
  }
}

h1 {
  font-size: 60px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: transparent;
  padding: 10px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  box-decoration-break: clone;
}

/* modal */
.modal-content a {
  color: #0fff6f;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: flex-start; /* Aligns to the top of the viewport */
  z-index: 1;
}

.modal p,
h1,
h2,
h3 {
  color: white;
}

.modal h2 {
  font-size: 22px;
  color: yellow;
  line-height: 1;
}

.modal h3 {
  text-align: left;
  font-size: 16px;
  color: yellowgreen;
}

.modal-content {
  background-color: black;
  margin-top: 15px; /* Give it a little space from the top */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Optional: maximum width if you need */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  color: #dcdcdc;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Bubble background animation */

.bubles {
  border-radius: 100%;
  position: absolute;
  pointer-events: none;
  border: 0.1px solid #fbfffe4d;
  box-shadow: 0px 0px 12.5px 0px #fbfffe4d inset;
  transform: translate(-250%, -250%);
  animation: colorgen 8s infinite, float 2s infinite;
}

@keyframes colorgen {
  0% {
    opacity: 1;
    transform: translatey(0px);
  }
  100% {
    opacity: 0;
    transform: translatey(-1000px);
  }
}
@keyframes float {
  0% {
    margin-left: -30px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: -30px;
  }
}
@keyframes animStar {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(-2000px);
  }
}

